.bg{
  background-image: url('../Assets/Background-Image.png');
}

.formContainer{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 350px;
  width: 100%;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
  /* background-image: url("https://img.freepik.com/premium-vector/white-elegant-texture-wallpaper_23-2148421854.jpg?w=2000"); */
  background-color: azure; 
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  /* box-shadow: 5px 10px #abe6e3ad; */
  /* box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white; */
  overflow: scroll;
  
}
.Title{
  font-family:'Oxygen', sans-serif ;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
}
.label{
  display: flex;
  margin-top: 15px;
  font-size:medium;
  font-weight: bolder;
  color: #5C7183;
  gap: 40px;
  align-items: center;
}
.labelOp{
  margin-top: 15px;
  font-size: 20px;
}
.FName{
  width: 40%;
  height: 40px;
  background-color: white;
  margin-right: 5px;
  padding-left: 6px;
  margin-top: 10px;
  font-weight: 500;
}
.LName{
  width: 39.5%;
  height: 40px;
  background-color: white;
  padding-left: 6px;
}
.Address{
  width: 80%;
  height: 40px;
  background-color: white;
  margin-bottom: 15px;
  padding-left: 6px;
}
.city{
  width: 26.6%;
  height: 40px;
  background-color: white;
  margin-right: 5px;
  padding-left: 6px;
}
.zipcode{
  width: 26%;
  height: 40px;
  background-color: white;
  padding-left: 6px;
  padding-left: 6px;
}
.option{
  padding-left: 6px;
}
.txtArea{
  width: 80%;
  height: 80%;
  background-color: white;
  margin-bottom: 35px;
  padding-left: 6px;
  overflow-y: scroll;
  
}

.infoTxt{
  margin:auto;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: grey;
}
.submitButton{
  color: white;
  width: 15%;
  height: 39.5px;
  font-size: 20px;
  padding: 2px;
  margin: 10px 10px 10px 10px;
}

.input{
  width: 400px;
}

.input_id{
  width: 200px;
}

.input2{
  width: 250px;
}

.section1{
  display: flex;
  padding: 40px 80px;
  justify-content: left;
  gap: 80px;
}
.section2{
  display: flex;
  padding: 40px 80px;
  justify-content: left;
  gap: 20px;
}
.section2{
  display: flex;
  padding: 40px 80px;
  justify-content: left;
  gap: 20px;
}

.stack{
  display: flex;
  flex-direction: column;
  /* border: 1px dotted black; */
  /* border-radius: 15px; */
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_APqR3K1-FSq2jBaZJj-O_zEdpbwZ4ygedfEbA9i-1TS-Vs5uOF7771ari5P6DCLpvtM&usqp=CAU'); */
  background-size: contain;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='15%2c 15%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  /* justify-content: center; */
  align-items: center;
  gap: 70px;
  width: 400px;
  height: 200px;
}

.upload_sec1{
   display: flex;
   justify-content: space-between;
   padding: 20px 80px;
}

.upload_sec2{
  display: flex;
  justify-content: center;
  padding: 20px 80px;
}