* {
  box-sizing: border-box;
}
body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  height: 100vh;
}
.left-section {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -webkit-animation-name: left-section;
          animation-name: left-section;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
          /* border: 1px solid #84d3d1; */
          background: #ffffff;
          /* border-radius: 50px; */
          box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.right-section {
  flex: 1;
  background: linear-gradient(to right, #f50629 0%, #fd9d08 100%);
  transition: 1s;
  background-image: url(../Assets/data-science-courses1.jpg);
  background-image: url("../Assets/data-science-courses1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header  h1 {
  margin-top: 0px;
  margin-bottom: 70px;
  color: #2ea6a2;
  font-weight: 700;
  font-size: 3vmax;
  width: 100%;

}
.header h4 {
  font-weight: 700;
  font-size: 2vmax;
  color: #000000;
}
.form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.form p {
  text-decoration:underline;
  margin-top: 20px;
  margin-left: 215px;
}
.form p a:hover {
  color: #2ea6a2;
}

.form  p  a {
  color: #000;
  font-size: 14px;
  
}
.form-field {
  height: 46px;
  padding: 2px 5px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
  margin-left: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  border-radius: 10px 10px 10px 10px;
  width: 90%;

}
.form-field:focus {
  border-color: #2ea6a2;
}

.password-div {
  position: relative;
}

.password-button {
  position: absolute;
  right: 23px;
  z-index: 2;
  border: none;
  top: 35px;
  cursor: pointer;
  width: 6%;
  transform: translateX(10px);
}
.Button {
  width: 80%;
  margin-top: 30px;
  border-radius: 20px;
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: linear-gradient(to right, #61cbc8 0%, #98e0dc 20%, #a7dbda 40%, #61cbc8 100%);
  color: black;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  border:none;
  /* transition: 0.5s; */
}
.Button:hover{
  /* transform: translateX(10px); */
  background: #6dbab8;
  color: white;
  font-weight:600;
  
}
.animation {
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
 
.a1 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.a2 {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}
.a3 {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}
.a4 {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}
.a5 {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
.a6 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes left-section {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}

