:root {
  --color-red: red;
  --color-purple: #7a18ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}
.top {
  background-image: url("https://images.unsplash.com/photo-1670573973297-ee69c0bd8b61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  width: 100%;
  height: 100%;
  position: absolute;
}
.container {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 400px;
  margin: auto auto;
  top: 110px;
  left: 32px;

  .modal-window {
    position: absolute;
    z-index: 100;
    background-color: whitesmoke;
    padding: 20px;
    width: 100%;

    top: -22px;
    animation: tags;
    animation-duration: 2s;
    border-radius: 30px;
    li {
      list-style: none;
      padding: 10px;
      cursor: pointer;
      text-align: center;
    }
    li:hover {
      background-color: #a2a1a7;
    }
    li:hover::first-letter {
      color: red;
    }

    h1 {
      text-align: center;
      font-size: 2rem;
    }
    h1::first-letter {
      color: red;
      font-weight: 400;
    }
    .grid-temp {
      margin: 30px;
      display: grid;
      grid-template-columns: auto auto auto;
    }
  }

  // filter: blur(1px);
  ::placeholder {
    color: black;
    font-size: 0.1rem;
  }

  .header {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    background: inherit;
    width: 100%;
    height: 45px;

    // border-bottom: 1px solid lightgrey;
    z-index: 10;

    top: 0;
    left: 0;

    .indicator {
      position: relative;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-left: 15px;
      background-color: lightgrey;
      top: 15px;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.content {
  box-sizing: border-box;
  overflow: hidden;
  z-index: 5;
  display: block;
  position: absolute;
  background: inherit;
  color: black;
  height: 570px;
  top: 6px;
  padding: 20px;
  width: 100%;
  // box-shadow: 15px 5px 80px -20px rgba(0, 0, 0, 0.6);

  .content__box {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 1000px;
    padding: 10px;
    text-align: center;

    top: 0;

    &.visible__no-animation {
      right: 0;
    }

    &.slide-in {
      animation: slide-in 500ms ease-in-out forwards;
    }

    &.slide-out {
      animation: slide-out 500ms ease-in-out forwards;
    }
  }

  .title {
    position: relative;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    // text-transform: uppercase;
    color: lightgray;
    margin: 60px 0 10px 0;
    // margin-left: 15px;
  }
  .title::first-letter {
    color: red;
    font-weight: 700;
  }

  .description {
    text-align: center;
    margin-bottom: 10px;
  }

  .body {
    text-align: center;
    padding: 20px;

    button {
      margin: 30px;
      background-color: inherit;
      padding: 5px;
      // border-radius: 60%;
      width: 100px;
      color: #a2a1a7;
      transition: var(--speed-normal);
      border: 1px solid var(--color-red);
      font-weight: 500;
      &:hover {
        border: 1px solid transparent;
        background: var(--color-red)
          url("https://i.postimg.cc/wBXGXbWN/pixel.png"); // 360px x 1080px
        transition-delay: 0.8s;
        background-size: 180px;
        animation: animate var(--speed-fast) steps(8) forwards;
      }
    }

    .input-group {
      margin-inline: 35.7%;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 5px;

      input {
        padding: 5px;
        margin-left: 20px;
        background-color: inherit;
        color: white;
        &:focus {
          background-color: #222;
        }
      }
      .input-group-addon {
        color: lightgrey;
      }
    }
    input[type="file"] {
      margin-top: -120px;
    }
    .container2 {
      font-family: "Bebas Neue", cursive;
    }
    .et_pb_contact_form_label {
      display: block;
      color: black;
      font-weight: bold;
      letter-spacing: 1.2px;
      font-size: 18px;
      padding-bottom: 5px;
    }

    input[id="et_pb_contact_brand_file_request_0"] {
      display: none;
    }
    label[for="et_pb_contact_brand_file_request_0"] {
      background: inherit;

      height: 100px;
      background-image: url("https://image.flaticon.com/icons/svg/126/126477.svg");
      background-repeat: no-repeat;
      background-position: top 18px center;
      position: absolute;
      background-size: 7%;
      color: transparent;
      margin: auto;
      width: 300px;
      top: 45%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      border: 1px solid #a2a1a7;
      box-sizing: border-box;
    }
    label[for="et_pb_contact_brand_file_request_0"]:before {
      content: "Click to browse";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      color: grey;
      font-weight: 400;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    label[for="et_pb_contact_brand_file_request_0"]:after {
      display: block;
      // background: red;
      width: 86px;
      height: 27px;
      line-height: 27px;
      position: absolute;
      bottom: 19px;
      font-size: 14px;
      color: white;
      font-weight: 500;
      border-radius: 40%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    label[for="et_pb_contact_brand_request_0"]:after {
      content: " (Provide link or Upload files if you already have guidelines)";
      font-size: 12px;
      letter-spacing: -0.31px;
      color: #7a7a7a;
      font-weight: normal;
    }
    label[for="et_pb_contact_design_request_0"]:after {
      content: " (Provide link or Upload design files)";
      font-size: 12px;
      letter-spacing: -0.31px;
      color: #7a7a7a;
      font-weight: normal;
    }
    label[for="et_pb_contact_brand_file_request_0"].changed,
    label[for="et_pb_contact_brand_file_request_0"]:hover {
      background-color: #d32121;
    }
    label[for="et_pb_contact_brand_file_request_0"] {
      cursor: pointer;
      transition: 400ms ease;
    }
    .file_names {
      display: block;
      position: absolute;
      color: black;
      left: 0;
      bottom: -30px;
      font-size: 13px;
      font-weight: 300;
    }
    .file_names {
      text-align: center;
    }

    .submit-button {
      // z-index: 100;
      // position: absolute;
      margin-top: 17%;
    }
  }
}

content-1 {
  p {
    text-align: center;
  }
  text-align: center;
}

div.container div.header span.active {
  background-color: red;
}

@keyframes slide-in {
  0% {
    right: 1000px;
  }

  100% {
    right: 0;
  }
}

@keyframes slide-out {
  0% {
    left: 0;
  }

  100% {
    left: 1000px;
  }
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}

@keyframes tags {
  0% {
    top: -42px;
  }
  100% {
    top: -22px;
  }
}
